# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/

# SQLite
*.db
*.db-shm
*.db-wal

# Keys
ed25519.key
ed25519.pub

# Other
*.DS_Store
client/bin/debug-client-app
